[submodule "deps/roo-code"]
	path = deps/roo-code
	url = https://github.com/RooCodeInc/Roo-Code.git
[submodule "deps/vscode"]
	path = deps/vscode
	url = https://github.com/microsoft/vscode.git
[submodule "deps/athena"]
	path = deps/athena
	url = https://gitlab.morpheus.kr/lab/athena/code-assistant/roo-code.git